*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.rbenv-version
vendor

# YARD artifacts
.yardoc
_yardoc
doc/

# Rubymine
.idea
/Gemfile.lock